@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  background-color: #fafafb;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.wrapper {
  position: absolute;
  width: 100%;
  font-size: 0.85rem;
  color: #222;
}

.container {
  position: relative;
  margin: 0 15px;
  height: calc(100% - 80px);
  padding-top: 20px;
  padding-bottom: 40px;
}

.header {
  width: 100%;
  height: 80px;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #e2e2ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
}

.header > .logo {
  width: 112px;
  height: 32px;
  left: 25px;
  top: 26px;
}

.header > .search {
  position: relative;
  width: 20rem;
  height: 37px;
  display: none;
}

.header > .search > .field {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #fafafb;
  border: 1px solid #f1f1f5;
  box-sizing: border-box;
  border-radius: 15px;
}

.header > .search > .field > input {
  outline: none;
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #92929d;
  width: calc(100% - 58px);
  height: 90%;
  position: absolute;
  left: 10px;
  background: inherit;
}

.header > .search > .field > .icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 10px;
  top: calc(50% - 24px / 2 + 0.5px);
  cursor: pointer;
}

.header > .actions > img {
  cursor: pointer;
  margin: 0 10px;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.not-found > h1 {
  font-size: 4.5rem;
  margin: 0;
}

.not-found > p {
  margin: 0;
}

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title > .title {
  flex-grow: 1;
}

.page-title > .extra > .landing-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title > .extra > .landing-extra > * {
  cursor: pointer;
  background: #ffffff;
  border-radius: 10px;
  padding: 4px;
}

.page-title > .extra > .landing-extra > *:not(:nth-child(1)) {
  margin-left: 10px;
}

.page-title > .extra > .landing-extra > *:nth-child(1) {
  margin-right: 5px;
}

.page-title > .extra > .landing-extra > .sort-items {
  position: relative;
  height: 24px;
  width: 200px;
}

.page-title > .extra > .landing-extra > .sort-items > .view {
  width: calc(85% - 10px);
  height: calc(100% - 3px);
  padding-left: 10px;
  padding-top: 3px;
  white-space: nowrap;
  overflow: hidden;
}

.page-title > .extra > .landing-extra > .sort-items > .divider {
  position: absolute;
  width: 1px;
  height: 100%;
  right: 28px;
  top: 0;
  background: #f1f1f5;
}

.page-title > .extra > .landing-extra > .sort-items > img {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 6px;
  top: calc(50% - 16px / 2);
  transform: scale(0.7);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.card {
  width: 300px;
  height: 246px;
  background: #ffffff;
  border-radius: 15px;
  position: relative;
  margin: auto;
  margin-bottom: 30px;
}

.card > .avatar {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 19px;
  top: 81px;
}

.card > .avatar > img {
  width: 100%;
}

.card > .profile {
  position: absolute;
  left: 25.62%;
  right: 3.96%;
  top: 46.75%;
  bottom: 20.73%;
}

.card > .profile > h2 {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #171725;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  margin-bottom: 5px;
}

.card > .profile > h5 {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.1px;
  color: #92929d;
  margin: 0;
  margin-bottom: 5px;
}

.card > .profile > p {
  font-weight: normal;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #44444f;
  margin: 0;
}

.card > .action {
  position: absolute;
  width: 80px;
  right: 20px;
  top: 46.75%;
  bottom: 41.87%;
}

.card > .action > .card-action {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #0062ff;
  border: 1px solid #0062ff;
  border-radius: 10px;
  cursor: pointer;
}

.card > .action > .card-action.active {
  background: #0062ff;
  color: #fafafb;
}

@media (max-width: 567px) {
  .no-xs {
    display: none !important;
  }

  .page-title {
    display: block;
  }

  .page-title > .title {
    text-align: center;
  }

  .page-title > .extra > .landing-extra {
    justify-content: center;
  }
}

@media (min-width: 400px) {
  .card {
    width: 80%;
  }
}

@media (min-width: 567px) {
  .card {
    width: 480px;
  }

  .card > .avatar {
    width: 88px;
    height: 88px;
  }

  .card > .profile > h2 {
    font-size: 18px;
    line-height: 27px;
  }

  .card > .profile > h5 {
    font-size: 14px;
    line-height: 16px;
  }

  .card > .profile > p {
    font-size: 14px;
    line-height: 26px;
  }
}

@media (min-width: 767px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .header > .search {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .card {
    width: calc(50% - 15px);
  }
  
  .card > .avatar {
    width: 54px;
    height: 54px;
  }
  
  .card > .profile > h2 {
    font-size: 14px;
    line-height: 17px;
  }
  
  .card > .profile > h5 {
    font-size: 10px;
    line-height: 14px;
  }
  
  .card > .profile > p {
    font-size: 12px;
    line-height: 22px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 75%;
  }

  .header > .grow {
    flex-grow: 1;
  }

  .header > .logo {
    margin-right: 100px;
  }

  .header > .search {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(50% - 30px);
  }
}