html {
  background-color: #fafafb;
}

body {
  margin: 0;
}

.header {
  width: 100%;
  height: 80px;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #e2e2ea;
}

.header > .logo {
  position: absolute;
  width: 112px;
  height: 32px;
  left: 25px;
  top: 26px;
}

.container {
  position: relative;
  margin: 0 15px;
}

@media (min-width: 767px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 75%;
    margin: 0 auto;
  }
}
